<div class="box">
<div class="page-header">
  <h1>授業一覧 <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>授業名</th>
      <th>教員</th>
      <th class="text-center">レビュー数</th>
      <th class="text-center">履修者数</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>

        <td><%= link_to lesson.title, lesson_path(lesson) %></td>
        <td><%= lesson.teacher %></td>

        <td class="text-center">
          <%= link_to lesson_path(lesson) do %>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 
            <%= lesson.reviews.count %>
          <% end %>
        </td>

        <td class="text-center">
          <%= link_to takers_lesson_path(lesson) do %>
            <i class="fa fa-user" aria-hidden="true"></i> 
            <%= lesson.takes.count %>
          <% end %>
        </td>

        <td>
          <% if lesson.taken_by? current_user %>
            <%= link_to lesson_takes_path(lesson), method: :delete do %>
              <button class="btn btn-primary btn-prof btn-take">履修中</button>
            <% end %>
          <% else %>
            <%= link_to lesson_takes_path(lesson), method: :post do %>
              <button class="btn btn-warning btn-prof btn-take">履修する</button>
            <% end %>
          <% end %>
        </td>

        <td>
          <%= link_to edit_lesson_path(lesson) do %>
            <button class="btn btn-default">編集</button>
          <% end %>
          <% if current_user.id == lesson.user_id %>
            <%= link_to lesson, method: :delete, data: { confirm: "本当によろしいですか？" } do %>
              <button class="btn btn-default">削除</button>
            <% end %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @lessons %>
<br>

<%= link_to new_lesson_path do %>
  <button class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新しい授業を追加する
  </button>
<% end %>
</div>