<div class="box">
<div class="page-header">
  <h1>
    <%= @lesson.title %>の履修者一覧 <i class="fa fa-users" aria-hidden="true"></i>【<%= @lesson.takes.count %>】
  </h1>
</div>

<div class="wrap clearfix">

<% if @takers.empty? %>
  <div>履修者がいません</div>
<% else %>
  <% @takers.each do |taker| %>
    <div class="users">


      <div class="user-image">
        <% if taker.user.image.present? %>
          <%= link_to user_path(taker.user) do %>
            <%= image_tag taker.user.image.url %>
          <% end %>
        <% else %>
          <%= link_to user_path(taker.user) do %>
            <%= image_tag "http://res.cloudinary.com/dj4jxxpze/image/upload/v1507382061/no_image_qzetmh.png" %>
          <% end %>
        <% end %>
      </div>

        <br>
        <%= link_to user_path(taker.user) do %>
          <h4><strong><%= taker.user.name %>@<%= taker.user.username %></strong></h4>
        <% end %>

        <div>
        <% if current_user != taker.user %>
          <% if taker.user.followed_by?(current_user) %>
            <%= link_to user_relationships_path(taker.user), method: :delete do %>
              <button class="btn btn-primary btn-index">フォロー中</button>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(taker.user), method: :post do %>
              <button class="btn btn-warning btn-index">フォローする</button>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to edit_user_registration_path(current_user) do %>
            <button class="btn btn-success">
              プロフィール編集 <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
          <% end %>
        <% end %>
        </div>

    </div>
  <% end %>
<% end %>

</div>

<%= link_to "授業詳細へ", lesson_path(@lesson) %>

</div>
